<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Remote</title>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no">
  <link rel="apple-touch-icon" href="images/popcorntime.ico">
  <link rel="shortcut icon" type="image/x-icon" href="images/popcorntime.ico">
	<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/animation.css">
  <link rel="stylesheet" type="text/css" href="themes/Official_-_FlaX_theme.css">
  <script type="text/javascript" src="functions.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="main-window-region">
    <div id="main-window">
      <header id="header">
        <nav class="btn-set fs-darwin">
          <button class="btn-os fullscreen tooltipped" data-toggle="tooltip" data-placement="right" title="
            Toggle Fullscreen"></button>
        </nav>
      </header>
      <div class="notification_alert" style="display:none"></div>
      <div id="notification"></div>
      <div id="content">
        <div id="main-browser">
          <div class="filter-bar-region">
            <div class="filter-bar">
              <ul class="nav nav-hor left">
                <li class="source movieTabShow providerinfo" data-toggle="tooltip" data-placement="top" title="movie">Movies</li>
                <li class="source active tvshowTabShow providerinfo" data-toggle="tooltip" data-placement="top" title="tvshow">Series</li>
              </ul>

              <ul id="nav-filters" class="nav nav-hor filters">
                <li style="display:none" class="dropdown filter types">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Type
                    <span class="value" data-value=""></span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#" data-value=""></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown filter genres">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Genre
                    <span data-value="" class="value"></span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#" data-value=""></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown filter sorters">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Sort by
                    <span data-value="" class="value"></span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#" data-value=""></a>
                    </li>
                  </ul>
                </li>
              </ul>

              <ul class="nav nav-hor right">
                <li>
                  <div class="right search">
                    <form>
                      <input id="searchbox" type="text" placeholder="Search" autocomplete="off">
                      <div class="clear fa fa-times"></div>
                    </form>
                  </div>
                </li>

                <!-- Randomize -->
                <li style="display:none">
                  <i id="filterbar-random" class="fa fa-random tooltipped" data-toggle="tooltip" data-placement="bottom" title="Randomize"></i>
                </li>

                <!-- Watchlist -->
                <li style="display:block">
                  <i id="filterbar-watchlist" class="fa fa-inbox watchlist tooltipped" data-toggle="tooltip" data-placement="bottom" title="Watchlist"></i>
                </li>

                <!-- Favorites -->
                <li>
                  <i id="filterbar-favorites" class="fa fa-heart favorites tooltipped" data-toggle="tooltip" data-placement="bottom" title="Favorites"></i>
                </li>

                <!-- Torrent Collection -->
                <li id="torrent_col" style="display:block">
                  <i id="filterbar-torrent-collection" class="fa fa-folder-open torrent-collection tooltipped" data-toggle="tooltip" data-placement="bottom"
                    title="Torrent Collection"></i>
                </li>

                <!-- About -->
                <li>
                  <i id="filterbar-about" class="fa fa-info-circle about tooltipped" data-toggle="tooltip" data-placement="bottom" title="About"></i>
                </li>

                <!-- Settings -->
                <li>
                  <i id="filterbar-settings" class="fa fa-cog settings tooltipped" data-toggle="tooltip" data-placement="left" title="Settings"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="list-region">
            <div class="list">
              <div class="spinner">
                <div class="loading-container">
                  <div class="ball"></div>
                  <div class="ball1"></div>
                </div>
              </div>
              <div class="items">
                <ul class="items_show"></ul>
                <ul class="items_movie"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="shows-container">
        <div class="shows-container-contain">
          <div class="show-detail-container">
            <div class="fa fa-times close-icon"></div>
            <section class="show-header">
              <div class="sh-cover">
                <div class="shc-img" data-bgr></div>
              </div>
              <div class="sh-poster">
                <div class="shp-img" data-bgr></div>
              </div>
              <div class="sh-metadata">
                <div class="shm-title"></div>
                <div class="shm-infos">
                  <div class="shmi-year"></div>
                  <span class="dot"></span>
                  <div class="shmi-runtime"></div>
                  <span class="dot"></span>
                  <div class="shmi-status"></div>
                  <span class="dot"></span>
                  <div class="shmi-genre"></div>
                  <span class="dot"></span>
                  <div class="shmi-imdb" data-toggle="tooltip" data-placement="top" title="Open IMDb page"></div>
                  <span class="dot"></span>
                  <div class="shmi-rating">
                    <div class="number-container-tv"></div>
                  </div>
                </div>
                <div class="shm-synopsis"></div>
              </div>
              <div class="sh-actions">
                <div class="sha-bookmark">Add to bookmarks</div>
                <div class="sha-watched">Mark as Seen</div>
              </div>
            </section>
            <section class="show-details">
              <div class="sd-seasons">
                <div class="sds-title">Seasons</div>
                <div class="sds-list">
                  <ul></ul>
                </div>
              </div>
              <div class="sd-episodes">
                <div class="sde-title">Episodes</div>
                <div class="sde-list"></div>
              </div>
              <div class="sd-overview">
                <div class="sdo-infos">
                  <div class="sdoi-title"></div>
                  <div class="sdoi-links">
                    <div data-toggle="tooltip" data-placement="left" title="Magnet link" class="fa fa-magnet magnet-icon"></div>
                    <div data-toggle="tooltip" data-placement="left" title="Health Unknown" class="fa fa-circle health-icon None"></div>
                  </div>
                  <div class="sdoi-aired">
                    <div class="sdoi-number"></div>
                    <div class="sdoi-date"></div>
                  </div>
                  <div class="sdoi-synopsis"></div>
                </div>
                <div class="sdo-watch">
                  <div class="sdow-quality">
                    <div id="q480" class="q480">480p</div>
                    <div id="q720" class="q720">720p</div>
                    <div id="q1080" class="q1080">1080p</div>
                  </div>
                  <div class="sdow-watchnow">
                    <div class="button dropup" id="player-chooser">Watch Now</div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div id="settings-container"></div>
      <div id="movie-detail">
        <div class="movie-detail">
          <div data-bgr="<%= backdrop %>" class="backdrop"></div>
          <div class="backdrop-overlay"></div>
          <div class="fa fa-times close-icon"></div>

          <section class="poster-box">
            <img src="images/posterholder.png" data-cover="<%= cover %>" class="mcover-image" />
          </section>

          <section class="content-box">

            <div class="meta-container">
              <div class="title"></div>

              <div class="metadatas">
                <div class="metaitem year"></div>
                <div class="dot"></div>
                <div class="metaitem runtime"></div>
                <div class="dot"></div>
                <div class="metaitem genre"></div>
                <div class="dot"></div>
                <div data-toggle="tooltip" data-placement="top" title="Open IMDb page" class="movie-imdb-link"></div>
                <div class="dot"></div>
                <div class="rating-container">
                  <div class="number-container"></div>
                </div>
                <div data-toggle="tooltip" data-placement="left" title="Health false" class="fa fa-circle health-icon <%= health %>"></div>
                <div data-toogle="tooltip" data-placement="left" title="Magnet link" class="fa fa-magnet magnet-link"></div>
              </div>

              <div class="overview"></div>
            </div>

            <div class="bottom-container">
              <div class="favourites-toggle">Add to bookmarks</div>
              <div class="watched-toggle">Not Seen</div>
              <br>
              <div class="button dropup" id="player-chooser">Watch Now</div>
              <div id="watch-trailer" class="button">Watch Trailer</div>

              <div class="movie-quality-container">
                <div class="q720">720p</div>
                <div class="q1080">1080p</div>
                <div class="quality switch white">
                  <input data-toogle="tooltip" data-placement="top" title="720p - <%= Common.fileSize(torrents['720p'].size) %><br>1080p - <%= Common.fileSize(torrents['1080p'].size) %>"
                    type="radio" name="switch" id="switch-hd-off">
                  <input data-toogle="tooltip" data-placement="top" title="720p - <%= Common.fileSize(torrents['720p'].size) %><br>1080p - <%= Common.fileSize(torrents['1080p'].size) %>"
                    type="radio" name="switch" id="switch-hd-on" checked>
                  <span class="toggle"></span>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div id="torrent-collection-container">
        <div class="torrent-collection"></div>
      </div>
      <div class="app-overlay">
        <div class="loading">
          <div class="loading-background"></div>
          <div class="loading-background-overlay"></div>

          <div class="state">
            <div class="title"></div>
            <div class="external-play" style="visibility:hidden">
              Streaming to <span class="player-name"></span></div>
            <!-- download -->
            <div class="text_download"></div>

            <div class="seed_status">
              <!-- loading bar -->
              <div class="loading-progressbar" style="visibility:hidden">
                <div id="loadingbar-contents"></div>
              </div>

              <!-- downloading info -->
              <div class="loading-info">
                <span class="buffer_percent"></span><br><br>
                <span class="loading-info-text">Download:&nbsp;</span>
                <span class="download_speed value"></span><br>
                <span class="loading-info-text">Upload:&nbsp;</span>
                <span class="upload_speed value"></span><br>
                <span class="loading-info-text">Active Peers:&nbsp;</span>
                <span class="value_peers value"></span>
              </div>
            </div>
            <div class="player-controls" style="visibility:hidden">
              <i class="fa fa-backward backward"></i>
              <i class="fa fa-pause pause"></i>
              <i class="fa fa-stop stop"></i>
              <i class="fa fa-forward forward"></i>
            </div>
            <div class="playing-progressbar">
              <div id="playingbar-contents"></div>
            </div>
            <div class="cancel-button">
              <div class="cancel-button-text">
                Cancel
              </div>
            </div>
          </div>
          <div class="warning-nospace">
            <span class="warn">Your disk is almost full.</span><br>
            <span class="detail">You need to make more space available on your disk by deleting files.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>