a {
  outline: none !important;
  text-decoration: none !important;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
.hidden {
  display: none;
}

#main {
  max-width: 480px;
  margin: 15px auto;
}

.filter-bar {
  top: 30px;
}

.list .items_show,
.list .items_movie {
  padding-top: 0;
  width: calc(100% - 5px);
  background: transparent;
}

.item {
  position: relative;
}
.item .cover-image {
  width: 134px;
  height: 196px;
  position: absolute;
  display: block;
}
.item .cover {
  opacity: 1;
}
.item:hover .cover .cover-overlay, 
.item:focus .cover .cover-overlay {
  opacity: 1;
}

.genre,
.shmi-genre,
.shmi-status,
#nav-filters .sorters .dropdown-menu a {
  text-transform: capitalize;
}

.divider:last-of-type {
  display: none;
}

#main-browser .items,
#shows-container,
#movie-detail,
.app-overlay,
#torrent-collection-container {
  display: none;
}

#header { z-index: 999; }
.loading { z-index: 99; }

#playingbar-contents {
  width: 0%;
}

.items_show .item.watched {
  display: none;
}
