a {
  outline: none !important;
  text-decoration: none !important;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
.hidden {
  display: none;
}

#main {
  max-width: 480px;
  margin: 15px auto;
}

.filter-bar {
  top: 30px;
}

.item {
  position: relative;
}
.item .cover-image {
  width: 134px;
  height: 196px;
  position: absolute;
  display: block;
}
.item .cover {
  opacity: 1;
}
.item:hover .cover .cover-overlay {
  opacity: 1;
}
